schema/PIXM_Measures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.pixm.aero/schema/0.1"
           xmlns="http://www.pixm.aero/schema/0.1"
           xmlns:pixm="http://www.pixm.aero/schema/0.1"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <xs:include schemaLocation="PIXM_UoM.xsd"/>
  <xs:include schemaLocation="PIXM_DataTypes.xsd"/>
  
  
  <xs:simpleType name="ValAngleBaseType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="-180"/>
      <xs:maxInclusive value="180"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ValAngleType">
    <xs:simpleContent>
      <xs:extension base="pixm:ValAngleBaseType">
        <xs:attribute name="uom" type="pixm:UomDistanceType"/>
        <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>


  <xs:simpleType name="ValBearingBaseType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="000"/>
      <xs:maxInclusive value="360"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="ValBearingType">
    <xs:simpleContent>
      <xs:extension base="pixm:ValBearingBaseType">
        <xs:attribute name="uom" type="pixm:UomDistanceType"/>
        <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>


  <xs:simpleType name="ValDepthBaseType">
    <xs:restriction base="xs:decimal"/>
	</xs:simpleType>

  <xs:complexType name="ValDepthType">
    <xs:simpleContent>
      <xs:extension base="pixm:ValDepthBaseType">
        <xs:attribute name="uom" type="pixm:UomDepthType"/>
        <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>


  <xs:simpleType name="ValDistanceBaseType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

  <xs:simpleType name="ValDistanceSignedBaseType">
    <xs:restriction base="xs:decimal"/>
	</xs:simpleType>
  <xs:complexType name="ValDistanceSignedType">
    <xs:simpleContent>
      <xs:extension base="ValDistanceSignedBaseType">
        <xs:attribute name="uom" type="pixm:UomDistanceType"/>
        <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

  <xs:complexType name="ValDistanceType">
    <xs:simpleContent>
      <xs:extension base="ValDistanceBaseType">
        <xs:attribute name="uom" type="pixm:UomDistanceType"/>
        <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

  <xs:simpleType name="ValDistanceVerticalBaseType">
	  <xs:restriction base="xs:string">
	    <xs:pattern value="((\+|\-){0,1}[0-9]{1,8}(\.[0-9]{1,4}){0,1})|UNL|GND|FLOOR|CEILING"/>
		</xs:restriction>
	</xs:simpleType>

  <xs:complexType name="ValDistanceVerticalType">
    <xs:simpleContent>
      <xs:extension base="ValDistanceVerticalBaseType">
        <xs:attribute name="uom" type="pixm:UomDistanceVerticalType"/>
        <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>


  <xs:simpleType name="ValDurationBaseType">
    <xs:restriction base="xs:decimal"/>
	</xs:simpleType>

  <xs:complexType name="ValDurationType">
    <xs:simpleContent>
      <xs:extension base="ValDurationBaseType">
        <xs:attribute name="uom" type="pixm:UomDurationType"/>
        <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>


  <xs:simpleType name="ValFLBaseType">
    <xs:restriction base="xs:unsignedInt">
      <xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>

  <xs:complexType name="ValFLType">
    <xs:simpleContent>
      <xs:extension base="ValFLBaseType">
        <xs:attribute name="uom" type="pixm:UomFLType"/>
        <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>


  <xs:simpleType name="ValFrictionBaseType">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="0\.[0-9]{2}"/>
      <xs:minInclusive value="0.00"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ValFrictionType">
    <xs:simpleContent>
      <xs:extension base="pixm:ValFrictionBaseType">
        <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>


  <xs:simpleType name="ValMagneticVariationBaseType">
    <xs:restriction base="xs:decimal">
      <xs:maxInclusive value="180"/>
      <xs:minInclusive value="-180"/>
		</xs:restriction>
	</xs:simpleType>

  <xs:simpleType name="ValMagneticVariationChangeBaseType">
    <xs:restriction base="xs:decimal">
      <xs:maxInclusive value="180"/>
      <xs:minInclusive value="-180"/>
		</xs:restriction>
	</xs:simpleType>

  <xs:complexType name="ValMagneticVariationChangeType">
    <xs:simpleContent>
      <xs:extension base="pixm:ValMagneticVariationChangeBaseType">
        <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

  <xs:complexType name="ValMagneticVariationType">
    <xs:simpleContent>
      <xs:extension base="pixm:ValMagneticVariationBaseType">
        <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>


  <xs:simpleType name="ValPCNBaseType">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="[0-9]{1,3}(\.[0-9]){0,1}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ValPCNType">
	  <xs:simpleContent>
	    <xs:extension base="ValPCNBaseType">
	      <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>


  <xs:simpleType name="ValPercentBaseType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ValPercentType">
    <xs:simpleContent>
      <xs:extension base="pixm:ValPercentBaseType">
        <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>


  <xs:simpleType name="ValPressureBaseType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ValPressureType">
    <xs:simpleContent>
      <xs:extension base="pixm:ValPressureBaseType">
        <xs:attribute name="uom" type="pixm:UomPressureType"/>
        <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>


  <xs:simpleType name="ValSlopeBaseType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="-100"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ValSlopeType">
    <xs:simpleContent>
      <xs:extension base="pixm:ValSlopeBaseType">
        <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>


  <xs:simpleType name="ValSpeedBaseType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ValSpeedType">
    <xs:simpleContent>
      <xs:extension base="pixm:ValSpeedBaseType">
        <xs:attribute name="uom" type="pixm:UomSpeedType"/>
        <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>


  <xs:simpleType name="ValTemperatureBaseType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="-460"/>
      <xs:maxInclusive value="10000"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ValTemperatureType">
    <xs:simpleContent>
      <xs:extension base="pixm:ValTemperatureBaseType">
        <xs:attribute name="uom" type="pixm:UomTemperatureType"/>
        <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>


  <xs:simpleType name="ValWeightBaseType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ValWeightType">
    <xs:simpleContent>
      <xs:extension base="pixm:ValWeightBaseType">
        <xs:attribute name="uom" type="pixm:UomWeightType"/>
        <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>